[submodule "state_space_models"]
	path = state_space_models
	url = https://github.com/rpatrik96/state-space-models
[submodule "scripts"]
	path = scripts
	url = https://github.com/rpatrik96/cluster-tools
